/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common style or utilitise */
body{
    font-family: 'Poppins', sans-serif;
}

/* slider */
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.7;
}
.carousel-caption{
    bottom: 180px;
    padding-left:100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 60px;
}
.carousel-caption p{
    font-size: 15px;
    color: #F4F4F4;
}

/* main */
.popular h5{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
#edu{
    text-align: center;
    font-size: 13px;
    color: #777777;
}
.card_one{
    display: flex;
    margin-left: 12%;
    margin-right: 8%;   
}
.card-title{
    color: #4A4A4A;
    font-weight: 600;
}
.card_one img{
    height: 100%;
}
.card_two{
    display: flex;
    margin-left: 12%;
    margin-right: 8%;
    
}
.card_two img{
    height: 100%;
}
.card_three{
    display: flex;
    margin-left: 12%;
    margin-right: 8%;
    
}
.card_three img{
    height: 100%;
}
.card-text{
    font-size: 14px;
    color: #777777;;
}
.text{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #289BDE;
}
.more{
    margin-left: 45%;
}

/* .flexible{
    display: flex;
    margin-left: 12%;
    margin-right: 10%;
    background: #F4FAFD;
}
.half-width img{
    width: 220%;
    height: 85%;
}
.class_one{
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    padding-left: 45%;
    margin-top: 10%;
    color: #1D1D1D;
}
.sample{
    color: rgb(128, 128, 128);
    padding-left: 45%;
    padding-right: 5%;
    text-align: justify;
    font-size: 15px;
}
.bold{
    color: black;
    font-size: 30px;
} */
/* .submit{
    margin-left: 45%;
} */

/* registration */
.registration{
    margin-left: 12%;
    margin-right: 10%;
}
.registration h3{
    padding-left: 5%;
    padding-top: 5%;
}
.registration p{
    padding-left: 5%;
    font-size: 13px;
    margin-bottom: 5%;
}
.modal-header {
    background: #F7941E;
    color: #fff;
}
.accordion{
    margin-left: 15%;
    margin-right: 10%;
}
.accordion-body{
    color: #777777;
    font-size: 14px;
}
.text-center{
    font-size: 30px;
}
.footer_one{
    font-size: 30px;
}
.footer_two{
    font-size: 15px;
}

/* responsive */
/* Mobile view */

@media only screen and (max-width: 600px){
    .carousel-caption{
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 2%;
        margin-right: 2%;
        flex-wrap: wrap;      
    }
    .digital{
        font-size: 10%;
    }
    .card_one{
        display: grid;
    }
    .card_one img{
        width: 100%;
        height: 100%;
    }
    .card_two{
        display: grid;
    }
    .card_two img{
        width: 100%;
        height: 100%;
    }
    .card_three{
        display: none;
    }
    .mobile_btn{
       margin-right: 20%;
       margin-left: 35%;

    }
    .ready{
        padding-left: 20%;
        padding-right: 20%;
        text-align: left;    
    }
    .msg{
        text-align: left;
        padding-left: 20%;
        padding-right: 20%;
    }
    .now{
        margin-top: 25%;
        margin-left: 20%;
        margin-right: 30%;
    } 
}

/* Tablet devices */
@media only screen and (min-width: 689px) and (max-width: 900px){
    .carousel-caption{
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 2%;
        margin-right: 2%;
        flex-wrap: wrap;      
    }
    .digital{
        font-size: 20%;
    }
    .card_one{
        display: grid;
        
    }
    .card_one img{
        width: 100%;
        height: 100%;
    }
    .card_two{
        display: grid;
        margin-left: 12%;
    }
    .card_two img{
        width: 100%;
        height: 100%;
        
    }
    .card_three{
        display: none;
    }
}